<html>
	<head>
		<meta content="text/html" charset="UTF-8">
		<link rel='stylesheet' type='text/css' href='css/sample.css' />
		<script type="text/javascript" src="js/prototype.js"></script>
		<script type="text/javascript" src="js/flowstats.js"></script>
		<script type="text/javascript" src="js/config.js"></script>
		<script type="text/javascript" src="js/messenger.js"></script>
		<script type="text/javascript" src="js/protovis.js"></script>
		<script type="text/javascript" src="js/date.js"></script>
		<script type="text/javascript" src="js/port_graph.js"></script>
		<script type="text/javascript+protovis">

			const PORTNUM = <%= @portnum %>
			const HOSTNAME = '<%= @hostname %>';
			const BASEPATH = '<%= @top_path %>';
			const GRAPH_TITLE = '<%= @graph_title %>';

			var portstats = [
			<% @portstats.each do |each| %>
				{
					unit: "<%= each[:unit] %>",
					label: "<%= each[:label] %>",
					input: [ <%= each[:input].join(',') %> ],
				},
			<% end %>
			];
			
			pgraph = new PortTraffic(portstats, new Date("<%= @start_time %>"), new Date("<%= @last_time %>"));
			
			pgraph.draw('port_graph');
		</script>
	</head>
	<body>
		<div id='graph_board'>
			<div id='port_graph'></div>
		</div>
		<div id='flowstats'></div>
	</body>
</html>
