<html>
  <head>
    <meta content="text/html" charset="UTF-8">

    <script type="text/javascript" src="js/protovis.js"></script>
    <script type="text/javascript" src="js/topology_graph.js"></script>
		<script type="text/javascript+protovis">
			var screen = new Screen(600, 600, 'main_board', "<%= @graph_title %>");

			<% @nodes.each do |each| %>
				screen.add(<%= each[:dpid] %>, <%= each[:ports] %>)
			<% end %>

			<% @pathes.each do |each| %>
				var path = screen.path(<%= each[:src] %>, <%= each[:dst] %>)

				<% if each[:heatmap] != nil then %>
					path.set_heatmap( <%= each[:heatmap][:cur] %>, 
							<%= each[:heatmap][:max] %>, 
							<%= each[:heatmap][:min] %> );
				<% end %>
			<% end %>

			screen.draw();
		</script>
  </head>
  <body>
    <div id="main_board">
    </div>
  </body>
</html>
